.App {
  text-align: center;
}

.AppLink {
  color: #61dafb;
}

.AppBody {
  border: 1px solid red;
}

.AppHeader {
  border: 1px solid black;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}
.AppHeader * {
  flex: 1;
}
.AppLogo {
  justify-content: flex-start;
  max-width: 10vw;
}
.AppLogo img {
  height: 10vh;
}
.HeaderUserSection {
  justify-content: flex-end;
  max-width: 15vw;
}
.AppName {
  text-align: left;
}
