#root {
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
a:visited {
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1800px;
  width: 100%;
}
.loadingDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 3em;
  align-items: center;
}
.main {
  height: 92vh;
  background: radial-gradient(at center center, #7ab38b70 0%, #0a46367c 100%),
    url("./assets/background-image.jpg");
  background-position: top;
  height: 100vh;
}
/* .backgroundImage {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
} */
.navHeader {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  align-items: center;
}
.logoSection {
  display: flex;
  justify-content: space-evenly;
  min-width: 20%;
  font-size: 1.5em;
  align-items: center;
  height: 5vh;
}

.navlinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.logoutButton,
.loginButton {
  cursor: pointer;
  border: white solid 1px;
  background-color: transparent;
  padding: 10px 50px;
  margin: 0px 10px;
}

.hamburger-toggle {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 700px) {
  .hamburger-toggle {
    display: block;
  }
  .navlinks {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    height: 92vh;
    align-items: center;
    width: 100%;
    top: 8vh;
    background-color: teal;
    font-size: 32px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: unset;
  }
  body {
    overflow-x: hidden;
  }
}

.active {
  transform: translate(0%);
}
/* .welcomeWrapper {
  background-color: #333;
} */

.welcome {
  height: 100vh;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 auto;
}

.welcome h2 {
  font-size: 3em;
  color: white;
  font-weight: normal;
  letter-spacing: 3px;
}
.welcome p {
  color: white;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
  max-width: 65vw;
}
